.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(139, 66, 168);
    z-index: 2;
  }
  &__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
  }

  &__burger {
    display: none;
  }
  &__logo {
    flex: 0 0 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 3;
  }
  &__logo img {
    max-width: 100%;
    display: block;
  }

  &__list {
    display: flex;
    position: relative;
    z-index: 2;
  }
  &__link {
    margin-left: 20px;
    color: #fff;
    text-transform: uppercase;
  }
  @media (max-width: 767px) {
    .header {
      &__body {
        height: 40px;
      }
      &__logo {
        flex: 0 0 50px;
      }
      &__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 5;
      }
      &__burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        top: 9px;
        height: 2px;
        transition: all 0.3s ease 0s;
      }
      &__burger::before,
      &__burger::after {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }
      &__burger::before {
        top: 0;
      }
      &__burger::after {
        bottom: 0;
      }
      &__burger.active span {
        transform: scale(0);
      }
      &__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
      }
      &__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
      &__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(76, 219, 219);
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
        overflow: auto;
      }
      &__menu.active {
        top: 0;
      }
      &__list {
        display: block;
        text-align: center;
      }
      &__list li {
        margin: 0px 0px 20px 0px;
      }
      &__link {
        margin-left: 0;
        font-size: 30px;
      }
    }
  }
}

.content {
  margin-top: 80px;
}
